@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	background-color: rgb(1, 1, 145);
	color: #e3e3e3;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.box {
	box-shadow: 0 4px 20px -6px rgb(0 0 0 / 25%);
}

.box:hover {
	box-shadow: 0 4px 20px -6px rgba(6, 0, 58, 0.8);
}

.box-shawdow {
	height: 100%;
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-top: 10%;
}

@keyframes shakeX {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translate3d(10px, 0, 0);
	}
}

.shakeX {
	animation: shakeX 2s;
	animation-delay: 1s;
	animation-iteration-count: 1;
}
